<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="busquedaPorNombre"
        placeholder="Ingresar el nombre o apellido...">
    <div v-html="this.validacionDeCaracteres(busquedaPorNombre)"></div>
    <br>
    <input type="text" class="form-control" v-model="busquedaPorDni"
        placeholder="Ingresar el DNI...">
    <div v-html="this.validacionDeCaracteres(busquedaPorDni)"></div>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            busquedaPorNombre: '',
            busquedaPorDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Javier",
                    apellido: "Pyke",
                    correo: "pyke.jn@gmail.com",
                    dni: "35111979"
                },
                {
                    nombre: "Jorge",
                    apellido: "Gomez",
                    correo: "jorgegomez@gmail.com",
                    dni: "17558623"
                },
                {
                    nombre: "Marta",
                    apellido: "Gimenez",
                    correo: "martagimenez@gmail.com",
                    dni: "40159247"
                },
                {
                    nombre: "Javier",
                    apellido: "Bermudez",
                    correo: "javibermudes@gmail.com",
                    dni: "40159687"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let condicion = this.busquedaPorNombre.length>=3?this.busquedaPorNombre:'';                    
                    return this.getNombreCompleto(persona).toLowerCase().includes(condicion)

                }).filter((persona) => {
                    let condicion = this.busquedaPorDni.length>=3?this.busquedaPorDni:'';
                    return persona.dni.includes(condicion)                    
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            validacionDeCaracteres(cadena) {
                if(cadena.length > 0 && cadena.length < 3){
                    return '<p class="alert alert-danger"> Ingrese al menos 3 caracteres </p>'
                }
            }
        }
    });
</script>